/*CSS Reset / Normalize*/
/*Já deixaremos o básico de reset de estilos. Caso queira adicionar mais informações
coloque nas sessões indicadas*/

:root{
    /*Insira a variavel das outras cores inspecionando o modelo do figma*/
    /*Se esforce para trabalhar com variáveis, é uma dica profissional valiosa*/
   --cor-de-fundo: #F5F5F5;
   --cor-de-link: #000;
   --color-titulos: #464646;
   --color-fundo-azul: #EAF2FD;
   --color-caixas: #fbfbfb;
   --azul-botoes: #2a7ae4;
   --teste: #0404e2;
}

body {
    box-sizing: border-box;
    background-color: var(--cor-de-fundo) ;
    font-family: 'Raleway';
    margin: 0;
    padding: 0;
    line-height: 1;
}
ol, ul,li {
    list-style: none;
}
a{
    text-decoration: none;
    color: var(--cor-de-link);
}

/*Neste desafio, gostariamos que praticassem a metodologia BEM, caso seintam a vontade 
de utiliza-la. 
Mas o que é o BEM?
BEM (Block, Element, Modifier) ​​é uma abordagem baseada em componentes para o desenvolvimento
web. A ideia por trás disso é dividir a interface do usuário em blocos independentes.
Isso torna o desenvolvimento de interface fácil e rápido, mesmo com uma interface
de usuário complexa, e permite a reutilização de código existente sem copiar e colar.
Link da documentação oficial!
https://en.bem.info/methodology/quick-start/*/

/*Sessão Menu*/

section.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: flex-end;
    height: 10vh;
    margin: 0px 20px;
}

/*nome e icone*/

section header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 700;
    color: var(--color-titulos);
}

/* itens do menu*/
 nav ul.menu__list {
    display: flex;
    justify-content: space-between;
    width: 600px;
    font-size: 1rem;
}

/* ajuste de icone*/
header img {
    margin-right: 1rem;
}

/*Sessão Title*/

section.title{
    margin: 2rem 0px;
}
/* tamanho do container */
div.title__container{
    width: 30rem;
}
/* titulo principal */
div.title__container h2 {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 2.5rem;
}
/* organizando conteudo */
div.title__div{
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-direction: row-reverse;
}

/*imagem de perfil*/
section.title img.title__profile {
    width: 268px;
    max-height: 260px;
    border-radius: 360px;
}
/* sub-titulo*/
section.title div.title__div div.title__container{
    font-size: .5rem;
    line-height: 5rem;
}
/*fonte dos links das redes sociais*/
section.title div.title__div div.title__container ul.title__network{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0;
    font-size: 2rem;
    width: 500px;
}
/*fonte conteudo redes socicais*/
section.title div.title__div div.title__container h3.title__subsection{
    font-style: normal;
    font-weight: 600;
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin-top: 15px;
}

/*Sessão About*/

section.about{
    padding: 12px  10px 20px;
    background-color: var(--color-fundo-azul);
}
/*titulo da sessão about*/
section.about div.about__container h3.about__title{
    font-size: 3rem;
}
/*container da sessão about*/
section.about div.about__container{
    width: 100%;
}
/*textos da sessão about*/
section.about div.about__container p.about__paragraph{
    font-weight: 400;
    font-size: 2rem;
    line-height: 2rem;
}
/*assinatura*/
section.about div.about__container img{
    margin: 1rem 0;
}

/*alinhamento titulo de todas as sessões*/
section,.__title{
    font-size: 1.75rem;
    text-align: center;
}
/*espaçamento da sessão*/
section.skills{
    padding: 64px 100px;
}
/*alinhamento icones */
section.skills div.skills__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
/*box das skills*/
section.skills div.skills__line div.skills__box{
    background-color: var(--color-caixas);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 1rem;
    margin: 23px 1rem 23px 8px;
    width: 120px;
    height: 9rem;
}
.skills__box ul{
    margin: 0;
    padding: 0;
    
}

/*Sessão Hobbies*/
/*espaçamento da sessão*/
section.hobbies{
    padding: 64px 100px;
}
/*alinhamento icones */
section.hobbies div.hobbies__line{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 100%;
}
/*box das skills*/
section.hobbies div.hobbies__line div.hobbies__box{
    background-color: var(--color-caixas);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 16px;
    margin: 23px 15px 23px 8px;
    width: 120px;
    height: 160px;
}
.hobbies__box ul{
    margin: 0;
    padding: 0;
}


/* cor da sessao*/

section.academic{
    padding: 3rem 0;
    background-color: var(--color-fundo-azul);
}
/*ajustando posicionamento com displays*/
    section.academic div.academic__courses{
        display: flex;
        justify-content: center;
    }
    section.academic div.academic__courses__box{
        width: 26.5rem;
        margin: 0 1rem;
    }
div.academic__courses ul{
    margin: 0;
    padding: 0;
    text-align: center;
}
div.academic__courses ul li{
    padding: 0;
    margin: 32px;
}
div.academic__courses ul li.academic__courses__item__img{
    background-color: var(--color-caixas);
    padding: 18%;
}

/* experiência*/

section.experience{
    text-align: center;  
}

.experience__section__title{
    font-size: 20px;
    text-align: center;
    color: var(--color-titulos);
    margin-top: 10px;
    margin: 5px;
}

 div.experience__info{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 20%;
}

.experiencie__box{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 10px;
    padding: 5px;
}
.experience__img{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    width: 900px;
}

.experience__text{
    font-size: 25px;
    font-weight: 700;
    margin: 5px;
}
.experience__description{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin-top: 1rem;
}

.experiencia__botao--repo{
    font-size: 15px;
    border-radius: 7px;
    
}
.experiencia__botao--demo{
    font-size: 15px;
    color: var(--cor-de-fundo);
    background-color: var(--azul-botoes);
    border-radius: 7px;    
    padding: 8px;
    cursor: pointer;
    transition: 0.3s;
}
    


/*Contato*/

section.formcontato{
    display: flex;
    justify-content: space-around;
}
.formcontato__contacto{
    display: flex;
    justify-content: space-around;
}
.formcontato__text{
    font-size: 20;
    padding: 25px;
    margin-top: 1px;
}
.formcontato__form{
    
    width: 6px;
    padding: 6px;
   
}
.formcontato__input{
    width: 500px;
    height: 25px;
    font-size: 26px;
    font-weight: 400;
    line-height: 50px;
}
.formcontato__textarea{
    width: 500px;
    font-size: 22px;
    font-weight: 400;
    line-height: 50px;
}
.formcontato__botao{
    font-size: 15px;
    color: var(--cor-de-fundo);
    background-color: var(--azul-botoes);
    border-radius: 7px;    
    padding: 8px;
    cursor: pointer;
    transition: 0.3s; 
}

@media screen and (max-width: 425px){


    
    nav ul.menu__list {
        display: none;        
    }

        /* tamanho do container */
    div.title__container {
        width: 25rem;
        align-items: center;
        
    }

        /* titulo principal */
    div.title__container h2 {
        display: none;
    }

    /* organizando conteudo */
    div.title__div{
        display: flex;    
        flex-direction: column;
    }

    /*imagem de perfil*/
    section.title img.title__profile {
        margin-left: 10%;
        }

        /*fonte dos links das redes sociais*/
    div.title__container h3.title__subsection{
        display: none;
    }    

    section.title div.title__div div.title__container ul.title__network{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;    
        font-size: 2rem;
        width: 200px;
        margin: 15%;
        padding: 30px;
    }

        

    /*ajustando posicionamento com displays*/
    section.academic div.academic__courses{
        display: flex;
        flex-direction: column;
    }
    section.academic div.academic__courses__box{
        
        width: auto;
       padding: 5px 15px;
    }
    
    /* experiência*/
        
        
    div.experience__info{
        
        margin-top: 20px;
    }

    .experiencie__box{
        display: flex;
        flex-direction: column;
        align-items: center;
        
    }

    .experience__img{
        width: 250px;
    }
        

        
    /*Contato*/

    section.formcontato{
        display: none;
    }

}
